<!DOCTYPE html>
<html>
<head>
	{{block "goimports" .}}{{end}}
	<title>{{block "title" .}}tier.run{{end}}</title>
	{{block "head" .}}{{end}}
</head>

<body>
	<div class="container">
		{{block "content" .}}{{end}}
	</div>
</body>

</html>